//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // text-align: center;
    color: #2c3e50;
}


// CSS HEADER 
.container-header {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        padding: 1rem 0px;
    }
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        padding: 1rem 0px;
    }
}

.ul-nav li {
    display: inline-block;
    padding: 48.5px 1rem;
    border-bottom: 10px solid transparent;
    margin-bottom: -10px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: black;
    }

    &:hover {
        color: rgb(2 130 249);
        border-bottom: 10px solid rgb(2 130 249);
    }

    &:hover a {
        color: rgb(2 130 249);
    }
}

// FINE CSS HEADER 

// STILE MAIN
.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5rem 0px;
    position: relative;
}

.jumbo {
    height: 400px;
    background-image: url(../images/jumbotron.jpg);
    background-position-x: center;
}

.current-series {
    background-color: #0282f9;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    position: absolute;
    top: -28px;
    left: -50px;
    cursor: pointer;
}

.load-more {
    background-color: #0282f9;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: auto;
    margin-bottom: -2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.blu {
    background-color: rgb(2 130 249);
}

.container-2 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 1rem 0px;
}

.black {
    background-color: black;
}

.list-main {
    display: flex;
    gap: 50px;

    li {
        display: flex;
        align-items: center;
        padding: 2rem 0px;

        img {
            width: 45px;
            height: 45px;
            object-fit: contain;
            margin-right: 10px;
        }

        a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            display: flex;
            align-items: center;
        }
    }
}

// STILE CARTA
.carta {
    width: calc(100% / 6 - 1rem);
}

.immagine {
    margin-bottom: 10px;

    img {
        width: 100%;
    }
}

.titolo {
    color: white;
    text-transform: uppercase;
    font: 1.3rem;
}

// FINE STILE MAIN



// CSS FOOTER 
.sfondo-footer {
    background-image: url(../images/footer-bg.jpg);
    background-color: black;
}

.container-footer {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 1rem;
    padding: 5rem 0px;
    position: relative;
}

.container {
    width: 80%;
    margin: auto;
}

.flexato {
    display: flex;
    height: 400px;
    overflow: hidden;
    padding: 1rem 0px;
    align-items: center;
}

.left-side {
    display: flex;
    width: 70%;
    gap: 2rem;
}

.right-side img {
    width: 100%;
}

.credits {
    background-color: hsl(0deg 0% 19%);
}

.lista-footer {
    list-style: none;
    color: white;
    margin-top: 2rem;

    li {
        padding: 3px 0px;
    }

    a {
        color: gray;
        text-decoration: none;
    }

    h3 {
        color: white;
    }
}

.flex {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.credits-left {
    width: 65%;

    button {
        padding: 10px 15px;
        background-color: transparent;
        border: 2px solid hsl(211deg 91% 50%);
        color: white;
        cursor: pointer;
    }
}

.credits-right {
    width: 35%;
    display: flex;
    align-items: center;
    gap: 15px;

    h3 {
        color: hsl(211deg 91% 50%);
        cursor: pointer;
    }

    div {
        cursor: pointer;
    }
}

// FINE CSS FOOTER 




// CSS CARTA
.container-flexato {
    display: flex;
    gap: 2rem;
}

.carta-immagine {
    position: absolute;
    top: -334px;
}

.verde {
    background-color: hsl(122deg 42% 53%);
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

.uppercase {
    text-transform: uppercase;
}

.mb {
    margin-bottom: 1.7rem;
}

.l-height {
    line-height: 1.5rem;
    color: gray;
}

.left {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-right: 1px solid black;

    div {
        color: lightgreen;

        span {
            color: white;
        }
    }
}

.right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.t-end {
    text-align: end;
}

.grigio {
    background-color: #f6f6f6;
}

// FINE 


// SEZIONE TALENT E SPECS

.container-grigio {
    display: flex;
    align-items: stretch;
    gap: 2rem;
}

.talent {
    width: calc(50% - 1rem);

    .sezione-t-s {
        display: flex;
        justify-content: space-between;
        gap: 8rem;
        padding: 1rem 0px;
        border-bottom: 1px solid black;


        .titolo-t-s {
            width: 30%;
        }

        .descrizione-t-s {
            color: hsl(211deg 91% 50%);
        }
    }

    h2 {
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
    }
}

.specs {
    width: calc(50% - 1rem);

    h2 {
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
    }

    .sezione-t-s {
        display: flex;
        gap: 5rem;
        padding: 1rem 0px;
        border-bottom: 1px solid black;


        .titolo-t-s {
            width: 30%;
        }

        .comic {
            color: hsl(211deg 91% 50%);
            text-transform: uppercase;
        }
    }
}

.container-3 {
    margin: auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}

.list-main-carta {
    display: flex;

    img {
        width: 45px;
        height: 45px;
        object-fit: contain;
        margin-right: 10px;
    }
}


.list-main-carta .bright:first-child {
    border-left: 1px solid black;
}

.bright {
    display: flex;
    align-items: center;
    padding: 2rem 20px;
    filter: brightness(0.5);
    border-right: 1px solid black;
}

.reverse {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2px;
}

// FINE SEZIONE